

.team-container {
  padding: 50px;
  max-width: 400px;
}

.team-container h2 {
  margin-left: 170px;
}

.teams {
  display: flex;
  flex-direction: column;
}


.teams h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.teams p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    padding-right: 40px;
}


